
    @import url('https://fonts.googleapis.com/css2?family=Caacupe+One&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

/*  HEADER  */

header {
    background-color: rgb(10, 1, 1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #cf2828;
    font-size: 2.5rem;
}

header span {
    color: #ffffff;
}

header .navpr li a {
    padding: 10px;
    color: #ffffff;
    font-size: 1.3rem;
}