
    @import url('https://fonts.googleapis.com/css2?family=Caacupe+One&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    
}

/*  HEADER  */

header {
    background-color: rgb(47, 23, 23);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #ca0d0a;
    font-size: 2.5rem;
}

header span {
    color: #ffffff;
}

header .navpr {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .navpr li a {
    padding: 10px;
    color: #ffffff;
    font-size: 1.3rem;
    }

/*  DOWNLOAD CV   */

.section-div {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    gap: 40px;
    padding: 50px;

}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 18px;
}

.section-div div h2 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #f7f7f7;
}

.section-div div p {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: larger;
    font-weight: 400;
    color: #f7f7f7;
}

.section-div div a {
    justify-self: start;
    color: white;
    width: 180px;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}

/*  IMG   */

img {
    width: 600px;
    border-radius: 5px;
}

